<Alloy>
	<Collection src="goal"/>
	<NavigationWindow title="settings" backgroundColor="#BCE2B3">
	<Window id="settings" class="container" backgroundColor="#BCE2B3" title="settings">
		<View onSwipe="swipeLeft">
		
        			<TableView>
        				<TableViewRow title="login/logout"></TableViewRow>
        				<TableViewRow id="openeditgoal" title="edit goal" onClick="openEditGoal"></TableViewRow>
        				<TableViewRow title="notification settings"></TableViewRow>
        				<TableViewRow title="contact us"></TableViewRow>
        				<TableViewRow title="about us"></TableViewRow>
        			</TableView>
        </View> 
	</Window>
	</NavigationWindow>
</Alloy>