<Alloy>
	<NavigationWindow title="settings">
	<Window id="settings" class="container" backgroundColor="#BCE2B3" title="settings">
		<View onSwipe="swipeLeft">
		
        			<TableView>
        				<TableViewRow title="login/logout"></TableViewRow>
        				<TableViewRow title="edit goal"></TableViewRow>
        				<TableViewRow title="notification settings"></TableViewRow>
        				<TableViewRow title="contact us"></TableViewRow>
        				<TableViewRow title="about us"></TableViewRow>
        			</TableView>
        </View> 
	</Window>
	</NavigationWindow>
</Alloy>